{% extends "./../layout/layout.html" %} 
{% load static %} 
{% block title %}Search Results {% endblock %} 
{% block styles %} {% endblock %} 
{% block content %} 
{% include "./../layout/navbar.html" %}

<div class="container">
  <div class="card-deck">
    <div class="card-group card-columns ">
      <div class="row">
        <div class="col-12">
          {% if properties %} {% for property in properties %}
          <div class="card border-info mb-3 " style="width: 18rem">
            <img class="card-img-top" style="width: 18rem; height: 10rem;" src="{{ property.picture.url }}" width="100%" height="100%" alt="Card image cap"/>
            <div class="card-body">
              <h5 class="card-title" >{{ property.name|title }}</h5>
              <p class="card-text">{{ property.description }}</p>
              <p class="card-text">
                <small class="text-muted">{{ property.city.name|capfirst }}</small>
              </p>
              <div class="float-right" style="padding-bottom: 10px;">
                {% url 'bookings:hotel_details' property.id as hotel_details %}
                <a class="btn text-white" style="background: #009BEB" href="{{ hotel_details }}" role="button">Reserve</a>
              </div>
              <div class="col-12">
                <div class="float-right">
                  <h5 style="padding-right: 20px"> AR$&nbsp;{{ property.daily_cost }}</h5>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          	<h6 class="text-center">No more results</h6>
          {% else %}
          	<h6 class="text-center"> Couldn't find properties, try again later. </h6>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include "./../layout/footer.html" %} 
{% endblock %}