{% extends "./../layout/layout.html" %}

{% load static %}

{% block title %}Search Results{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

	{% include "./../layout/navbar.html" %}

	<div class="container">
		<div class="row">
			<div class="col-12">
				{% if properties %}
					{% for property in properties %}
						<div class="media mt-3 mb-3 animated fadeIn">
							<img class="mr-3" src="{{ property.picture.url }}" width="250" height="150"
							     alt="Generic placeholder image">
							<div class="media-body">
								<div class="container">
									<div class="row">
										<div class="col-6">
											<h5 class="mt-0">{{ property.name|title }}</h5>
										</div>
										<div class="col-6">
											<div class="float-right">
												{% url 'bookings:hotel_details' property.id as hotel_details %}
												<a class="btn btn-outline-success" href="{{ hotel_details }}"
												   role="button">Reserve</a>
											</div>
										</div>
										<div class="col-12">
											<p class="small text-muted">{{ property.city.name|capfirst }}</p>
										</div>
										<div class="col-12">
											<p class="text-muted">{{ property.description|upper }}</p>
										</div>
										<div class="col-12">
											<div class="float-right">
												<h4>AR$&nbsp;{{ property.daily_cost }}</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<hr>
					{% endfor %}
					<h6 class="text-center">No more results</h6>
				{% else %}
					<h6 class="text-center">Couldn't find properties, try again later.</h6>
				{% endif %}
			</div>
		</div>
	</div>

	{% include "./../layout/footer.html" %}

{% endblock %}