{% extends "./../layout/layout.html" %}

{% load static %}

{% block title %}Search Results{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

    {% include "./../layout/navbar.html" %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-light" role="alert">
                    <h6 class="text-center">Successful booking at Air UTN.</h6>
                </div>
            </div>
            <div class="col-12">
                <h6>Hi, this is the itinerary for <span class="text-info">{{ reservation.first_name }} {{ reservation.last_name }}</span>!:</h6>
                <br>
                <p class="font-weight-bold">Email: <span class="text-info">{{ reservation.email }}</span></p>
                <p class="font-weight-bold">Total : $<span class="text-info">{{ total_amount }}</span></p>
                <p class="font-weight-bold">Reservation made on: <span class="text-info">{% now "Y-m-d" %} </span></p>
                <p class="font-weight-bold">Your reservation days are : </p>
                {% for date in reservation_dates  %}
                    <span class="text-info">*{{ date }}</span><br>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include "./../layout/footer.html" %}

{% endblock %}

{% block scripts %}{% endblock %}