{% extends "./../layout/layout.html" %}

{% load static %}

{% block title %}Search Results{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

	{% include "./../layout/navbar.html" %}

	<div class="container">
		<div class="row">
			<div class="col-12">
                <div class="alert alert-danger" role="alert">
                    <h6 class="text-center">This property is not available this date.</h6>
                </div>
                {% url 'bookings:index' as index %}
                <a type="button" href="{{ index }}" class="btn btn-secondary btn-lg btn-block">Go to search</a>
			</div>
		</div>
	</div>

	{% include "./../layout/footer.html" %}

{% endblock %}

{% block scripts %}{% endblock %}