{% load static %}
<!doctype html>

<html lang="en">

<head>
	<title>AirUTN - {% block title %}Layout{% endblock %}</title>

	<link rel="icon"
	      type="image/png"
	      href="{% static 'logo.png' %}"/>

	<!-- Required meta tags -->
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.5.3-dist/css/bootstrap.min.css' %}"/>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	        crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
	        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
	        crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
	        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
	        crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'css/sticky-footer.css' %}"/>

	<link rel="stylesheet" type="text/css" href="{% static 'animate-css/animate.css' %}"/>

						  <link rel="stylesheet" href="{% static 'css/main.css' %}" />

	{% block styles %}{% endblock %}

</head>

<body>

<div id="content" style="background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/hotel-wallpaper.png');">
	{% block content %}{% endblock %}
</div>

{% block scripts %}{% endblock %}

</body>

</html>
